.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #f2711c, #f2b705);
}

.image {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.expanded {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom right, #f2711c, #f2b705);
}