body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, olive, gold);
}

.container {
    margin: 50px auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.bandeira {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.imagem-grande {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    display: none;
}

.hino {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}